

####### Releases ##########
release/
build/
NoLimitCoin-qt
Makefile
src/NoLimitCoind

# windows release files
Makefile.Debug
Makefile.Release
object_script.NoLimitCoin-qt.Debug
object_script.NoLimitCoin-qt.Release

# linux build files
nolimitcoin-qt_plugin_import.cpp
qdbusxml2cpp_wrapper.sh
qrc_bitcoin.cpp
uic_wrapper.sh

###### Build Files #######
test
src/obj/*.o
src/obj/*.P
src/obj/zerocoin/*.o
src/obj/zerocoin/*.P
.qmake.stash

###### Debug Files #######
debug/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.pro.user

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
