<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>CFBundleIconFile</key>
        <string>bitcoin.icns</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleGetInfoString</key>
        <string>NoLimitCoin [NLC2] 4.0.0.0</string>
        <key>CFBundleExecutable</key>
        <string>NoLimitCoin-wallet</string>
        <key>CFBundleIdentifier</key>
        <string>org.nolimitcoin.nolimitcoin-client</string>
        <key>CFBundleShortVersionString</key>
        <string>4.0.0.0</string>
        <key>CFBundleSignature</key>
        <string>nLc2</string>
        <key>CFBundleVersion</key>
        <string>4.0.0.0</string>
</dict>
</plist>
